## SQL ##

visita il sito sqlite3

tool: sqlitestudio

creazione di un database:

In [1]:
import sqlite3
conn = sqlite3.connect("archivio.db")
conn.close()

Crea un database con sqlite e aggiungi una tabella.
tab: magazzino
colonne: mid, prodotto, prezzo, qta

In [2]:
conn = sqlite3.connect("pythondb.db")
cur = conn.cursor()
cur.execute("select mid, prodotto, prezzo, qta from magazzino")
for row in cur.fetchall():
    mid, prodotto, prezzo, qta = row
    print(f"{mid}: {prodotto}")

conn.close()

1: caffè
2: mele
3: pere
4: kiwi

In [4]:
import sqlite3

conn = sqlite3.connect("pythondb.db")
cur = conn.cursor()

#chiedo i dati
mid = 999
prodotto = 'supermoka'
prezzo = 12.4
qta = 100

#compongo l'sql
sql = f"insert into magazzino "\
f"(mid, prodotto, prezzo, qta) values "\
f"({mid},'{prodotto}',{prezzo},{qta})"
print(sql)

#inserisco nel db
cur.execute(sql)
conn.commit()

conn.close()

insert into magazzino (mid, prodotto, prezzo, qta) values (999,'supermoka',12.4,100)

Verifico se ho inserito...

In [10]:
def viewdb():
    with sqlite3.connect("pythondb.db") as conn:
        cur = conn.cursor()
        cur.execute("select mid, prodotto, prezzo, qta from magazzino")
        for row in cur.fetchall():
            mid, prodotto, prezzo, qta = row
            print(f"{mid}:\t{prodotto}\t{prezzo}\t{qta}")
    #.close()

viewdb()

1:	caffè	2.5	100
2:	mele	0.98	999
3:	pere	2.25	123
4:	kiwi	2	45
999:	supermoka	12.4	100

In [11]:
import sqlite3

conn = sqlite3.connect("pythondb.db")
cur = conn.cursor()

mid = 2
sql = f"update magazzino set qta = 999 where mid = {mid}"
cur.execute(sql)
conn.commit()

conn.close()

viewdb()

1:	caffè	2.5	100
2:	mele	0.98	999
3:	pere	2.25	123
4:	kiwi	2	45
999:	supermoka	12.4	100

Cancello tabella con DROP

In [12]:
with sqlite3.connect("pythondb.db") as conn:
    cur = conn.cursor()
    sql = "DROP table coffee"
    cur.execute(sql)
    conn.commit()

In [13]:
with sqlite3.connect("pythondb.db") as conn:
    cur = conn.cursor()

    sql = f"create table coffee ("\
        "id int primary key,"\
        "nome varchar(20) not null,"\
        "peso float default 0 "\
        ")"

    cur.execute(sql)
    conn.commit()