## SQL ##

In [2]:
import sqlite3
conn = sqlite3.connect("db1.db")
conn.close()

In [3]:
conn = sqlite3.connect("pythondb.db")
cur = conn.cursor()
cur.execute("select * from magazzino")
for row in cur.fetchall():
    mid, prodotto, prezzo, qta = row
    print(f"{mid}: {prodotto} - {prezzo} - {qta}")
conn.close()

1: caffè - 2.5 - 100
2: mele - 0.98 - 999
3: pere - 2.25 - 123
4: kiwi - 2 - 45
5: fragole - 4.5 - 100

In [7]:
conn = sqlite3.connect("pythondb.db")
cur = conn.cursor()

mid, prodotto, prezzo, qta = (999, 'supermoka', 12.4, 100)
sql = f"insert into magazzino "\
f"(mid, prodotto, prezzo, qta) values "\
f"({mid},'{prodotto}',{prezzo},{qta})"
print(sql)

cur.execute(sql)
conn.commit()

conn.close()

insert into magazzino (mid, prodotto, prezzo, qta) values (999,'supermoka',12.4,100)

In [8]:
def viewdb():
    with sqlite3.connect("pythondb.db") as conn:        
        cur = conn.cursor()
        cur.execute("select * from magazzino")
        for row in cur.fetchall():
            mid, prodotto, prezzo, qta = row
            print(f"{mid}: {prodotto} - {prezzo} - {qta}")

viewdb()

1: caffè - 2.5 - 100
2: mele - 0.98 - 999
3: pere - 2.25 - 123
4: kiwi - 2 - 45
5: fragole - 4.5 - 100
999: supermoka - 12.4 - 100

In [9]:
with sqlite3.connect("pythondb.db") as conn:
    cur = conn.cursor()

    mid = 2;
    sql = f"update magazzino set qta = 111 where mid = {mid}"
    print(sql)

    cur.execute(sql)
    conn.commit()

viewdb()

update magazzino set qta = 111 where mid = 2
1: caffè - 2.5 - 100
2: mele - 0.98 - 111
3: pere - 2.25 - 123
4: kiwi - 2 - 45
5: fragole - 4.5 - 100
999: supermoka - 12.4 - 100

In [10]:
with sqlite3.connect("pythondb.db") as conn:
    cur = conn.cursor()
    sql = "DROP TABLE coffee"
    cur.execute(sql)
    conn.commit()

In [11]:
with sqlite3.connect("pythondb.db") as conn:
    cur = conn.cursor()
    sql = "CREATE TABLE coffee ("\
    "id   INT          PRIMARY KEY,"\
    "nome VARCHAR (20) NOT NULL,"\
    "peso FLOAT        DEFAULT 0)"
    cur.execute(sql)
    conn.commit()