In [1]:
from pyspark.sql import SparkSession
ss = SparkSession.builder.getOrCreate()
sc = ss.sparkContext

In [2]:
df = ss.read.parquet('movimenti_bancari.parquet')

In [3]:
df.count()

146

In [4]:
df.createOrReplaceTempView('banca')

In [5]:
df.show(1)

+----------+-----+-------+------+
|      Data|Conto|Importo|Azione|
+----------+-----+-------+------+
|2024-01-05|  345|-103.32|  COUT|
+----------+-----+-------+------+
only showing top 1 row

In [7]:
ss.sql("SELECT Conto, sum(Importo) FROM banca group by Conto").show()

+-----+-------------------+
|Conto|       sum(Importo)|
+-----+-------------------+
|  234|-1636.2500000000005|
|  678|           -2339.76|
|  345| 112.15999999999929|
|  123|            -7018.8|
|  545|-1384.8400000000004|
+-----+-------------------+

In [8]:
ss.sql('SELECT Azione, sum(Importo) FROM banca group by Azione').show()

+------+-------------------+
|Azione|       sum(Importo)|
+------+-------------------+
|  BOUT|-21915.170000000002|
|   CIN|           18789.93|
|  COUT|          -26204.02|
|   BIN| 17061.769999999997|
+------+-------------------+

In [9]:
ss.sql('SELECT Azione, count(Azione) FROM banca group by Azione').show()

+------+-------------+
|Azione|count(Azione)|
+------+-------------+
|  BOUT|           37|
|   CIN|           32|
|  COUT|           50|
|   BIN|           27|
+------+-------------+