## MapReduce in pySpark

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [2]:
ss = SparkSession.builder.appName("myMR").getOrCreate()
sc = ss.sparkContext

In [4]:
nomi = ['Rossi Mario 25', 'Bianchi luigi 27', 'Verdi Giuseppe 34', 'Anna Rimoldi 45']
rdd = sc.parallelize(nomi)
rdd.collect()

['Rossi Mario 25', 'Bianchi luigi 27', 'Verdi Giuseppe 34', 'Anna Rimoldi 45']

In [5]:
rdd1 = rdd.map( lambda riga : int(riga[-2:]) )
rdd1.collect()

[25, 27, 34, 45]

In [6]:
rdd1.min()

25

**Esempio 2** creazione tuple

In [7]:
rdd2 = rdd.map( lambda riga : riga.split())
rdd2.collect()

[['Rossi', 'Mario', '25'],
 ['Bianchi', 'luigi', '27'],
 ['Verdi', 'Giuseppe', '34'],
 ['Anna', 'Rimoldi', '45']]

In [8]:
rdd3 = rdd2.map( lambda x : ( f"{x[1]} {x[0]}", int(x[2]) ) )
rdd3.collect()

[('Mario Rossi', 25),
 ('luigi Bianchi', 27),
 ('Giuseppe Verdi', 34),
 ('Rimoldi Anna', 45)]

In [9]:
rdd4 = rdd3.sortBy( lambda tup : tup[1], ascending=False )
rdd4.collect()

[('Rimoldi Anna', 45),
 ('Giuseppe Verdi', 34),
 ('luigi Bianchi', 27),
 ('Mario Rossi', 25)]

**Esempio 3** analisi numeri pari e dispari

In [10]:
rdd5 = sc.parallelize(  [12,23,34,45,56,67,78,89,32,43,54,65,76,87,98] )
rdd6 = rdd5.map( lambda n : ( ('D' if (n%2) else 'P') , n ) )
rdd6.collect()

[('P', 12),
 ('D', 23),
 ('P', 34),
 ('D', 45),
 ('P', 56),
 ('D', 67),
 ('P', 78),
 ('D', 89),
 ('P', 32),
 ('D', 43),
 ('P', 54),
 ('D', 65),
 ('P', 76),
 ('D', 87),
 ('P', 98)]

In [13]:
rdd7 = rdd6.reduceByKey( lambda a,b : a+b )
rdd7.collect()

[('P', 440), ('D', 419)]