## Series

In [4]:
import pandas as pd

ser = pd.Series(data=[11,22,33,44,55])
ser

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [5]:
d = {'a':1, 'b':2, 'c':3}
ser = pd.Series(data=d, index=['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [7]:
import numpy as np
frutta = np.array(['mela','pera','kiwi', 'banana'])
ser3 = pd.Series(data=frutta)
ser3

0      mela
1      pera
2      kiwi
3    banana
dtype: object

In [10]:
print(ser3[1])
print(ser['b'])

pera
2

In [12]:
dates = pd.date_range("20240901", periods=6)
tab = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
tab

                   A         B         C         D
2024-09-01 -0.494189  2.230898  1.896824  0.896850
2024-09-02  0.182933  0.424809 -0.684683 -0.494282
2024-09-03  0.858817 -0.806226 -0.490796 -0.934368
2024-09-04 -0.243116  0.030520  0.754781  1.011077
2024-09-05 -0.348226  1.711420 -0.297329  0.481279
2024-09-06 -0.777083  1.359220 -0.643868  0.582610

In [13]:
tab['A']

2024-09-01   -0.494189
2024-09-02    0.182933
2024-09-03    0.858817
2024-09-04   -0.243116
2024-09-05   -0.348226
2024-09-06   -0.777083
Freq: D, Name: A, dtype: float64

In [14]:
type(tab['A'])

pandas.core.series.Series

In [15]:
tab.iloc[2]

A    0.858817
B   -0.806226
C   -0.490796
D   -0.934368
Name: 2024-09-03 00:00:00, dtype: float64

In [16]:
type(tab.iloc[2])

pandas.core.series.Series

In [18]:
ser1 = tab.iloc[2]
ser1.iloc[[1,2]]

B   -0.806226
C   -0.490796
Name: 2024-09-03 00:00:00, dtype: float64