## Pandas - Series

One-dimensional ndarray with axis labels (including time series).

Creazione di una series da una semplice lista

In [1]:
import pandas as pd

ser = pd.Series(data=[11,22,33,44,55])
ser

0    11
1    22
2    33
3    44
4    55
dtype: int64

Creazione di una series a partire da un dictionary, specificando l'indice

In [2]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

Creazione da numpy

In [6]:
import numpy as np
frutta = np.array(['mela','pera','kiwi','banana'])
ser3 = pd.Series(data=frutta)
ser3

0      mela
1      pera
2      kiwi
3    banana
dtype: object

Per accedere ali elementi serve la chiave

In [3]:
print(ser['a'])

1

Le Series sono usate e/o si ricavano dalle datatables

In [4]:
# genero una tabella
dates = pd.date_range("20240901", periods=6)
tab = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
tab

NameError: name 'np' is not defined

Estraggo una colonna -> è una Series

In [14]:
tab['A']

2024-09-01   -0.989231
2024-09-02    0.769435
2024-09-03    0.311060
2024-09-04   -0.274822
2024-09-05   -1.060902
2024-09-06   -0.314885
Freq: D, Name: A, dtype: float64

In [19]:
type(tab['A'])

pandas.core.series.Series

Estraggo una riga -> è una Series

In [18]:
tab.iloc[2]

A    0.311060
B    0.261197
C   -1.402994
D   -0.833663
Name: 2024-09-03 00:00:00, dtype: float64

In [20]:
type(tab.iloc[2])

pandas.core.series.Series

Si può accedere con indexing e slicing

In [24]:
ser1 = tab.iloc[2]
ser1.iloc[[1,2]]

B    0.261197
C   -1.402994
Name: 2024-09-03 00:00:00, dtype: float64