## PANDAS

In [2]:
import pandas as pd

## series

In [3]:
s = pd.Series([10,20,30,44,55,66,77,88])
print(s)

0    10
1    20
2    30
3    44
4    55
5    66
6    77
7    88
dtype: int64

## DataFrame

In [4]:
import numpy as np

df = pd.DataFrame(np.random.randn(6,4))
print(df)

          0         1         2         3
0  0.969414  0.226297 -0.858557  1.130275
1  0.699716  0.576207  1.071967  2.623805
2  0.814643 -1.738701  0.945769  0.220692
3 -0.467107 -1.294882 -0.297911 -0.098358
4 -0.414677 -0.106646 -0.222341 -0.202712
5  0.751129  0.814935 -0.837295 -0.004819

In [5]:

df = pd.DataFrame(np.random.randn(6,4), columns=['v1', 'v2', 'v3', 'v4'])
print(df)

         v1        v2        v3        v4
0 -0.646023 -0.872814 -1.731863 -1.157554
1 -0.361279  0.107831  0.588738  0.694190
2  1.454608 -3.153063 -1.630195 -1.269407
3  0.304916 -1.646066  1.481054  0.584907
4  1.497510  0.542523 -0.320425  0.450182
5 -0.107781  0.201735 -0.470518  0.065311

In [6]:
df = pd.DataFrame(np.random.randn(6,4), columns=list("ABCD"))
print(df)

          A         B         C         D
0 -0.077718  0.556081  1.584416  0.134996
1  2.362931  0.628375  0.011269 -0.234856
2 -1.094729  0.436583 -0.072112  0.314852
3  1.131096  0.390515  0.832574  0.374405
4  0.335716  0.025255  0.922217 -2.096150
5 -0.651762  1.682293  0.320043  1.189241

In [7]:
dates = pd.date_range("20240901", periods=6)
df = pd.DataFrame(np.random.randn(6,4), columns=list("ABCD"), index=dates)
print(df)

                   A         B         C         D
2024-09-01 -0.756404  0.177227  1.222329 -1.226241
2024-09-02 -0.677167 -0.822096  1.039088  1.215116
2024-09-03  0.090443  0.843737 -1.959204 -1.146977
2024-09-04 -0.210722 -0.256570  0.087701 -1.253889
2024-09-05 -1.083556  0.546527  0.017294  0.184891
2024-09-06 -0.978035  0.421686  0.729672 -0.337771

In [11]:
tab2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20240901"),
        "C": pd.Categorical(["mele", "pere", "kiwi", "fragole"]),
        "D":"test",
        "E": pd.Series(1, index=list(range(4)), dtype="float32"),
        "F": np.array([3]*4, dtype="int32")
    }
)
print(tab2)

     A          B        C     D    E  F
0  1.0 2024-09-01     mele  test  1.0  3
1  1.0 2024-09-01     pere  test  1.0  3
2  1.0 2024-09-01     kiwi  test  1.0  3
3  1.0 2024-09-01  fragole  test  1.0  3

## leggo csv

In [12]:
tab2 = pd.read_csv("persone.csv", delimiter=',')
print(tab2)

        nome    cognome  peso  altezza data_nascita sesso
0      Marco      Rossi  75.5      178   1990-01-15     M
1       Anna      Verdi  62.0      165   1995-03-20     F
2       Luca    Bianchi  80.0      182   1988-11-05     M
3      Sofia       Neri  58.0      160   1997-07-12     F
4     Davide     Gialli  72.0      175   1992-04-25     M
5       Sara       Rosa  60.0      163   1998-09-08     F
6     Andrea    Azzurri  78.0      180   1991-06-10     M
7     Chiara      Viola  55.0      158   1999-12-22     F
8     Matteo    Marroni  85.0      185   1987-02-18     M
9  Valentina  Arancioni  63.0      167   1994-05-15     F

In [13]:
print(tab2.dtypes)

nome             object
cognome          object
peso            float64
altezza           int64
data_nascita     object
sesso            object
dtype: object

In [14]:
tab2['data_nascita'] = pd.to_datetime(tab2['data_nascita'])
print(tab2.dtypes)
print(tab2)

nome                    object
cognome                 object
peso                   float64
altezza                  int64
data_nascita    datetime64[ns]
sesso                   object
dtype: object
        nome    cognome  peso  altezza data_nascita sesso
0      Marco      Rossi  75.5      178   1990-01-15     M
1       Anna      Verdi  62.0      165   1995-03-20     F
2       Luca    Bianchi  80.0      182   1988-11-05     M
3      Sofia       Neri  58.0      160   1997-07-12     F
4     Davide     Gialli  72.0      175   1992-04-25     M
5       Sara       Rosa  60.0      163   1998-09-08     F
6     Andrea    Azzurri  78.0      180   1991-06-10     M
7     Chiara      Viola  55.0      158   1999-12-22     F
8     Matteo    Marroni  85.0      185   1987-02-18     M
9  Valentina  Arancioni  63.0      167   1994-05-15     F

In [15]:
tab2['nome']

0        Marco
1         Anna
2         Luca
3        Sofia
4       Davide
5         Sara
6       Andrea
7       Chiara
8       Matteo
9    Valentina
Name: nome, dtype: object

In [16]:
tab2['genere'] = tab2["sesso"].apply(lambda x: "maschio" if x=='M' else 'femmina' )
print(tab2)

        nome    cognome  peso  altezza data_nascita sesso   genere
0      Marco      Rossi  75.5      178   1990-01-15     M  maschio
1       Anna      Verdi  62.0      165   1995-03-20     F  femmina
2       Luca    Bianchi  80.0      182   1988-11-05     M  maschio
3      Sofia       Neri  58.0      160   1997-07-12     F  femmina
4     Davide     Gialli  72.0      175   1992-04-25     M  maschio
5       Sara       Rosa  60.0      163   1998-09-08     F  femmina
6     Andrea    Azzurri  78.0      180   1991-06-10     M  maschio
7     Chiara      Viola  55.0      158   1999-12-22     F  femmina
8     Matteo    Marroni  85.0      185   1987-02-18     M  maschio
9  Valentina  Arancioni  63.0      167   1994-05-15     F  femmina

In [17]:
tab3 = tab2[['cognome', 'nome']]
print(tab3)

     cognome       nome
0      Rossi      Marco
1      Verdi       Anna
2    Bianchi       Luca
3       Neri      Sofia
4     Gialli     Davide
5       Rosa       Sara
6    Azzurri     Andrea
7      Viola     Chiara
8    Marroni     Matteo
9  Arancioni  Valentina

In [18]:
tab4 = tab3.sort_values(by='cognome')
print(tab4)

     cognome       nome
9  Arancioni  Valentina
6    Azzurri     Andrea
2    Bianchi       Luca
4     Gialli     Davide
8    Marroni     Matteo
3       Neri      Sofia
5       Rosa       Sara
0      Rossi      Marco
1      Verdi       Anna
7      Viola     Chiara